<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layouts/links.html" %}
    <title>Inicio</title>
</head>
<body>
    {% include "layouts/animation.html" %}
    <div class="container">
        <div class="child">
            <div class="h1Div">
                <h1>Survey of RF Project</h1>
            </div>
            <form action="/" method="post">
                <label for="firstQuestion">Your experience at the register</label>
                <select id="firstQuestion" name="firstQuestion" required>
                    <option value="" selected>-- Select --</option>
                    <option value="1">Very satisfied</option>
                    <option value="2">Satisfied</option>
                    <option value="3">Neither satisfied or dissatisfied</option>
                    <option value="4">Dissatisfied</option>
                    <option value="5">Very dissatisfied</option>
                </select>

                <label for="secondQuestion">The products offered in the store</label>
                <select id="secondQuestion" name="secondQuestion" required>
                    <option value="" selected>-- Select --</option>
                    <option value="1">Very satisfied</option>
                    <option value="2">Satisfied</option>
                    <option value="3">Neither satisfied or dissatisfied</option>
                    <option value="4">Dissatisfied</option>
                    <option value="5">Very dissatisfied</option>
                </select>

                <label for="thirdQuestion">The price of the products</label>
                <select id="thirdQuestion" name="thirdQuestion" required>
                    <option value="" selected>-- Select --</option>
                    <option value="1">Very satisfied</option>
                    <option value="2">Satisfied</option>
                    <option value="3">Neither satisfied or dissatisfied</option>
                    <option value="4">Dissatisfied</option>
                    <option value="5">Very dissatisfied</option>
                </select>

                <label for="thirdQuestion">Tell us how was your experience</label>
                <input type="text" name="openEndedQuestion" required />

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>