<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layouts/links.html" %}
    <title>Inicio</title>
</head>
<body>
    {% include "layouts/animation.html" %}
    <div class="container">
        <div class="child">
            <div class="h1Div">
                <h1>Open-ended question result</h1>
            </div>
            <table id="scoreTable">
                <tr>
                    <th>Sentences</th>
                    <th>Scores</th>
                </tr>
                {% for elements in data['sentimentalScore'] %}
                    <tr>
                        <td>{{ elements.sentence }}</td>
                        <td>{{ elements.score }}</td>
                    </tr>
                {% endfor %}
                {% for elements in data['totalAverage'] %}
                    <tr>
                        <td></td>
                        <td>{{ elements.average }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>